#centeredContent {
    background-color: lightblue;
    max-width: 500px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
}
.fixedMenu {
    position: fixed;
    left: 0px;
    top: 0px;
}
.leftContent{
    position: absolute;
    max-width: 300;
    left: 0px;

}
.rightContent{
    position: absolute;
    max-width: 500;
    right: 0px;
    
}